html, body {
    font-family: Arial, serif;
}

.remove-margin {
    margin: 0;
}

.remove-bottom-margin {
    margin-bottom: 0;
}

.text_center {
    text-align: center;
}

.screen-cover {
    position: fixed;
    visibility: hidden;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.5);
    align-items: center;
    display: flex;
    justify-content: center;
}

#win-text {
    font-size: 20px;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    justify-content: center;
}

#menu-area {
    margin: -8px;
    background: #333;
    padding: 0 7px;
    overflow: hidden;
}

#menu-area a {
    padding: 20px 14px;
    text-decoration: none;
    color: white;
    float: right;
}

#menu-area a:hover {
    background: grey;
}

/** GAME SECTION CSS **/
.game_section {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

#rest_time {
    margin-top: 10px;
    height: 20px;
    appearance: none;
    border: solid 2px black;
}

::-webkit-progress-value {
    background-color: green;
}

::-moz-progress-bar {
    background-color: green;
}

.card_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    margin-top: 30px;
}

.memory_cards {
    margin: 5px;
    width: 80px;
    height: 80px;
    justify-self: center;
    border: none;
}

.card_closed {
}

.card_closed:hover {
    cursor: pointer;
}

.card_open {
}

.card_matched {
}

/** SETTING SECTION CSS **/
.settings_section {
    min-width: 300px;
    width: 75%;
    align-self: center;
    padding-top: 20px;
}

.settings_container {
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.top_five {
    align-self: center;
    padding-bottom: 10px;
}

.top_five b {
    display: inherit;
    text-align: center;
}

.avg_playtime {
    align-self: center;
    padding-bottom: 10px;
}

.board_setting {
    align-self: center;
    margin: 10px 0px;
}

.color_section {
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.color_settings {
    grid-column: 1/2;
    padding-bottom: 10px;
    margin-top: 20px;
}

.color_buttons {
    height: auto;
    margin: 5px;
}

.card_color {
    width: 100%;
    margin: 5px;
    //box-shadow: 2px 2px 5px black inset;
}

#closed_card_color {
}

#open_card_color {
}

#matched_cards_color {
}

.game_start_section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 20px;
}

.start_button {
    height: auto;
    margin: 5px;
    width: 75%;
    justify-self: center;
}

/** MEDIA QUERIES **/
@media screen and (min-width: 400px) {
    .card_container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 600px) {
    .memory_cards {
        width: 90px;
        height: 90px;
    }
}

@media screen and (min-width: 700px) {
    .card_container {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media screen and (min-width: 920px) {
    .container {
        flex-direction: row;
    }

    .settings_section {
        width: auto;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        column-gap: 15px;
    }

    .settings_section {
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .settings_container {

    }
}

@media screen and (min-width: 1600px) {
    .memory_cards {
        width: 100px;
        height: 100px;
    }
}
