html, body {
    font-family: Arial;
}

.remove-margin {
    margin: 0;
}

.remove-bottom-margin {
    margin-bottom: 0;
}

.text_center {
    text-align: center;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

/** GAME SECTION CSS **/
.game_section {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    flex-grow: 8;
}

#rest_time {
    margin-top: 10px;
    height: 20px;
    appearance: none;
    border: solid 2px black;
}

::-webkit-progress-value {
    background-color: green;
}

::-moz-progress-bar {
    background-color: green;
}

.card_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
}

.memory_cards {
    margin: 5px;
    padding: 36px 5px;
    border: none;
}

.card_closed {
}

.card_closed:hover {
    cursor: pointer;
}

.card_open {
}

.card_matched {
}

/** SETTING SECTION CSS **/
.settings_section {
    min-width: 300px;
    flex-grow: 2;
}

.settings_container {
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.top_five {
    padding-bottom: 10px;
}

.avg_playtime {
    padding-bottom: 10px;
}

.board_setting {
    padding-bottom: 10px;
}

.color_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.color_settings {
    grid-column: 1/2;
    padding-bottom: 10px;
}

.color_buttons {
    height: auto;
    margin: 5px;
}

.card_color {
    width: 100%;
    margin: 5px;
    //box-shadow: 2px 2px 5px black inset;
}

#closed_card_color {
    //background: lightgreen;
}

#open_card_color {
    //background: darkgreen;
}

#matched_cards_color {
    //background: purple;
}

.game_start_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.start_button {
    grid-column: 1/2;
    height: auto;
    margin: 5px;
}

/** MEDIA QUERIES **/
@media screen and (min-width: 600px) {
    .card_container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 900px) {
    .card_container {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        flex-direction: row;
        column-gap: 15px;
    }

    .settings_section {
        padding: 0px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .settings_container {

    }
}

@media screen and (min-width: 1600px) {
    .memory_cards {
        padding: 45px 5px;
    }
}